/* Define the Star Wars color scheme */
:root {
  --primary-color: #FFD700;
  --secondary-color: #1E90FF;
  --text-color: #FFFFFF;
  --background-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color) !important;
  text-align: center;
}

/* Override the default Bootstrap styles */
.navbar {
  background-color: var(--primary-color);
  color: var(--text-color) !important;
}

.navbar-brand,
.navbar-nav li a {
  color: var(--text-color) !important;
}

.nav-link {
  color: var(--secondary-color) !important;
  font-size: 3vh;
}

.nav-link-selected {
  color: var(--text-color) !important;
}

.nav-link:hover {
  color: var(--text-color) !important;
}

.navbar-toggler {
  color: var(--text-color) !important;
}

.jumbotron {
  background-color: var(--background-color);
  color: var(--text-color);
}

.card {
  background-color: var(--background-color);
  color: var(--text-color);
}

.card-header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: #0077B5;
  border-color: #0077B5;
}

.search-bar{
  margin-left: auto;
  right: 0;
}

.search-bar .dropdown-menu {
  left: auto;
  right: 0;
}

.search-results-card {
  width: 900px;
  margin: 2vh auto 0 auto;
}

.search-results-card .card-body {
  background-color: var(--primary-color);
  font-size: 2vh;
  text-align: left;
}

.search-results-card .card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results-card .card-header {
  background-color: var(--secondary-color);
}

.search-results-card .card-header .card-title{
  font-size: 3vh;
  text-align: center;
}

@media (max-width: 900px) {
  .search-results-card {
    width: 100%;
  }
}